@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

*{
	padding: 0;
	margin: 0;
}

body {
	color: #555;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

header {
	text-align: center;
}

footer {
	padding: 2em;
}

img{
	width: 100%;
}

a { 
	color: #821907;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
 }

nav a {
	font-size: 1.25em;
	padding: 2em;
}

h1, h2, h3 {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: .5em;
}

h1 {
	color: #333;
	font-size: 3em;
}

h2 {
	color: #333;
	font-size: 2.5em;
}

h3 {
	color: #333;
	font-size: 1.75em;
}

p {
	font-size: 1em;
}

.service {
	padding: 2em;
}

#hero{
	color: #fff;
	text-align: center;
	background-image: url(../images/campaign.jpg);
	background-size: cover;
	background-repeat: none;
	height: 85vh;
}

#slogan {
	font-style: italic;
}

#services {
	width: 30em;
	margin: 2em auto;
	text-align: center;
}

#about {
	text-align: center;
	background-color: #ccc;
	padding: 2em;
}
